<%= form_with url: session_path, id: 'sign-in-form', class: 'form' do |form| %>
  <div class="form-field">
    <%= form.label :login, 'Username or Email' %>
    <%= form.text_field :login, value: params[:login], autofocus: true %>
  </div>
  <div class="form-field <%= 'invalid' if @sign_in_error %>">
    <label for="password">
      Password
      <a href="/password_reset" class="text-secondary float-right" tabindex="-1">Forgot password?</a>
    </label>
    <%= form.password_field :password %>
    <% if @sign_in_error %>
      <div class="validate-message">
        Incorrect username or password.
      </div>
    <% end %>
  </div>
  <button type="submit" class="button button-raised button-primary">Sign in</button>
<% end %>
