<%= form_with model: @user, url: session_path, class: 'form', id: 'sign-in-form' do |form| %>
  <div class="mb-4">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, placeholder: "name@example.com", require: true, class: "input" %>
  </div>

  <div class="mb-4">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, require: true, class: "input" %>
  </div>

  <% if @user.errors[:base].any? %>
    <div class="p-3 mb-4 border border-red-500 rounded bg-red-100 text-red-500">
      <%= @user.errors[:base].first %>
    </div>
  <% end %>

  <button type="submit" class="btn-filled block w-full text-center">
    <%= t('common.sign_in') %>
  </button>
<% end %>
