<div class="toolbar toolbar-fixed toolbar-primary">
  <div class="toolbar-action">
    <a href="/" class="button button-icon"><i class="material-icons">arrow_back</i></a>
  </div>
  <div class="toolbar-title">Sign in</div>
</div>

<main class="main">
  <div class="container">
    <div class="session">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Welcome back!</h3>
        </div>
        <div class="card-body">
          <% if flash[:alert] %>
            <div class="flash flash-alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
          <%= form_with url: session_path, class: 'form' do |form| %>
            <div class="form-group">
              <%= form.label :login, 'Username or Email' %>
              <%= form.text_field :login %>
            </div>
            <div class="form-group">
              <%= form.label :password %>
              <%= form.password_field :password %>
            </div>
            <button type="submit" class="button button-raised button-primary">Sign in</button>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="list">
          <a href="/users/new" class="list-item">
            <div class="list-item-content align-center">
              Sign up
            </div>
            <div class="list-item-icon">
              <i class="material-icons">chevron_right</i>
            </div>
          </a>
          <a href="/password_reset" class="list-item">
            <div class="list-item-content align-center">
              Reset password
            </div>
            <div class="list-item-icon">
              <i class="material-icons">chevron_right</i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
