<div class="card">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        <%= t '.forums' %>
      </div>
    </div>
  </div>
  <div class="list list-bordered">
    <% @forums.each do |forum| %>
      <a class="list-item" href="<%= forum_path(id: forum.slug) %>">
        <div class="list-item-icon">
          <i class="material-icons">forum</i>
        </div>
        <div class="list-item-content">
          <h3 class="list-item-content-primary">
            <%= forum.name %>
          </h3>
          <div class="list-item-content-secondary"><%= forum.description %></div>
        </div>
        <div class="list-item-meta">
          <small class="text-secondary"><%= forum.topics_count %> topics</small>
        </div>
      </a>
    <% end %>
  </div>
</div>
