<div class="floating-action">
  <a href="<%= new_topic_path(forum_id: @forum.id) %>" class="button button-floating extended button-primary">
    <i class="material-icons mr-2">add</i>
    <%= t '.new_topic' %>
  </a>
</div>

<div class="card">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        <%= @forum.name %>
      </div>
    </div>
  </div>

  <%= render 'topics/topic_list' %>

  <% if @topics.empty? %>
    <div class="text-align-center p-4">
      <%= t '.no_content' %>
    </div>
  <% end %>
</div>
