<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="/" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t '.password_reset' %></div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <div class="session">
      <%= form_with url: password_reset_url, class: 'form' do |form| %>
        <div class="form-field">
          <%= form.label :email, 'Email' %>
          <%= form.text_field :email %>
          <div class="form-helper">
            <%= t '.password_reset_notice' %>
          </div>
        </div>
        <button type="submit" class="button button-contained button-primary"><%= t '.send_email' %></button>
      <% end %>
    </div>
  </div>
</main>
