<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <h3 class="pb-2 mb-4 border-bottom text-center"><%= t '.password_reset' %></h3>
    <%= form_with url: password_reset_url do |form| %>
      <div class="form-group">
        <%= form.label :email, 'Email' %>
        <%= form.text_field :email, class: 'form-control' %>
        <small class="form-text text-muted"><%= t '.password_reset_notice' %></small>
      </div>
      <%= form.submit t('.send_email'), class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>
