<% cache [I18n.locale, comment, comment.user] do %>
  <div id="comment-<%= comment.id %>" class="list-item">
    <div class="list-item-avatar">
      <%= avatar_tag comment.user %>
    </div>
    <div class="list-item-content">
      <div class="post" data-controller="post" data-creator-id="<%= comment.user.id %>" data-creator-name="<%= comment.user.name %>" data-creator-username="<%= comment.user.username %>" data-comment-id="<%= comment.id %>">
        <div class="post-header">
          <span class="post-header-name"><%= comment.user.name %></span>
          <div class="float-right">
            <a href="<%= "#comment-#{comment.id}" %>" class="post-header-time text-small text-secondary"><%= local_time_or_date comment.created_at %></a>
            <div class="dropdown" data-controller="dropdown visible-to-user">
              <button type="button" class="button button-icon button-icon-small text-secondary" data-action="dropdown#open">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-menu-item" data-action="post#reply">
                  <i class="material-icons">reply</i><%= t 'common.reply' %>
                </a>
                <a href="<%= edit_comment_path(comment) %>" class="dropdown-menu-item" data-controller="visible-to-creator-or-admin">
                  <i class="material-icons">edit</i><%= t 'common.edit' %>
                </a>
                <a href="<%= trash_comment_path(comment) %>" class="dropdown-menu-item" data-controller="visible-to-admin" data-method="put" data-confirm="Are you sure you want to delete this comment?" data-remote="true">
                  <i class="material-icons">delete</i><%= t 'common.delete' %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="post-body">
          <% if comment.reply_to_comment %>
            <div class="reply-to-quote" data-controller="expandable">
              <div class="reply-to-quote-header">
                <%= comment.reply_to_comment.user.name %>
                <div class="line-height-1 float-right">
                  <a href="<%= "#comment-#{comment.reply_to_comment.id}" %>" class="button button-icon button-icon-small">
                    <i class="material-icons">arrow_upward</i>
                  </a>
                  <button type="button" class="button button-icon button-icon-small expand-more" data-action="expandable#expandMore">
                    <i class="material-icons">expand_more</i>
                  </button>
                  <button type="button" class="button button-icon button-icon-small expand-less" data-action="expandable#expandLess">
                    <i class="material-icons">expand_less</i>
                  </button>
                </div>
              </div>
              <div class="reply-to-quote-body">
                <article class="typography">
                  <%= sanitize markdown_render comment.reply_to_comment.content %>
                </article>
              </div>
            </div>
          <% end %>
          <article class="typography">
            <%= sanitize markdown_render comment.content %>
          </article>
          <% if comment.edited_user %>
            <div class="text-small text-secondary">
              <%= comment.edited_user.name %> <%= t '.edited_at' %> <%= local_time_or_date comment.edited_at %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
