<div id="comment-<%= comment.id %>" class="list-item">
  <div class="list-item-avatar">
    <div class="letter-avatar">
      <%= comment.user.name[0] %>
    </div>
  </div>
  <div class="list-item-content">
    <div class="list-item-content-primary">
      <span><%= comment.user.name %></span>
      <span><%= l comment.created_at, format: :long %></span>
    </div>
    <article class="typography">
      <%= sanitize markdown_render comment.content %>
    </article>
    <a href="<%= edit_comment_path(comment) %>">edit</a>
  </div>
</div>
