<div id="comment-<%= comment.id %>" class="list-item">
  <div class="list-item-avatar">
    <%= avatar_tag comment.user %>
  </div>
  <div class="list-item-content">
    <div class="list-item-content-primary">
      <%= comment.user.name %>
      <span class="text-muted float-right"><%= local_time_ago comment.created_at %></span>
    </div>
    <article class="typography">
      <%= sanitize markdown_render comment.content %>
    </article>
    <a href="<%= edit_comment_path(comment) %>">edit</a>
  </div>
</div>
