<%= form_with model: @comment, id: 'comment-form', class: 'form', data: { controller: 'editor' } do |form| %>
  <%= form.hidden_field :topic_id %>
  <div class="form-field <%= 'invalid' if @comment.errors[:content].any? %>">
    <%= form.text_area :content, rows: 5, data: { target: 'editor.textarea' } %>
    <% if @comment.errors[:content].any? %>
      <div class="validate-message">
        <%= @comment.errors[:content].first %>
      </div>
    <% end %>
  </div>
  <%= form.submit class: 'button button-raised button-primary' %>
  <label class="button button-icon">
    <i class="material-icons">attach_file</i>
    <input type="file" name="attachment[file]" value="" data-action="editor#attachFile" class="hide">
  </label>
  <button type="button" class="button button-icon" data-action="editor#preview">
    <i class="material-icons">visibility</i>
  </button>
<% end %>
