<%= form_with model: @comment, id: 'comment-form', class: 'form', data: { controller: 'editor' } do |form| %>
  <% if @comment.new_record? %>
    <%= form.hidden_field :topic_id %>
    <%= form.hidden_field :reply_to_comment_id, data: { target: 'editor.replyToInput' }, disabled: @comment.persisted? %>
    <div class="reply-to-message text-secondary <%= 'show' if @comment.reply_to_comment_id %>" data-target="editor.replyToMessage">
      <i class="material-icons vertical-top">reply</i>
      <span class="reply-to-message-name"><%= @comment.reply_to_comment&.user&.name %></span>
      <button type="button" class="button button-icon button-icon-small vertical-top text-secondary" data-action="editor#cleanReplyTo">
        <i class="material-icons">close</i>
      </button>
    </div>
  <% end %>
  <div class="form-field <%= 'invalid' if @comment.errors[:content].any? %>">
    <%= form.text_area :content, rows: 5, data: { target: 'editor.textarea' } %>
    <% if @comment.errors[:content].any? %>
      <div class="validate-message">
        <%= @comment.errors[:content].first %>
      </div>
    <% end %>
  </div>
  <%= form.submit class: 'button button-contained button-primary' %>
  <div class="editor-toolbar">
    <label class="button button-icon">
      <i class="material-icons">attach_file</i>
      <input type="file" name="attachment[file]" value="" data-action="editor#attachFile" class="hide">
    </label>
    <button type="button" class="button button-icon" data-action="editor#preview">
      <i class="material-icons">visibility</i>
    </button>
  </div>
<% end %>
