<div class="card">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        <%= t '.search_result' %>
      </div>
    </div>
  </div>

  <div data-controller="infinite-page" data-infinite-page-page="<%= @posts.current_page %>" data-infinite-page-reached-end="<%= @posts.last_page? || @posts.out_of_range? %>">
    <div class="list list-bordered" data-target="infinite-page.container">
      <%= render partial: 'post', collection: @posts, cached: -> post { [I18n.locale, post, post.user] } %>
    </div>
    <div class="infinite-page-loading-placeholder p-2 text-secondary text-align-center border-top">
      <i class="material-icons animated spin">sync</i>
    </div>
  </div>

  <% if @posts.empty? %>
    <div class="text-align-center p-4">
      <%= t '.no_content' %>
    </div>
  <% end %>
</div>
