<%= form_with model: @topic, html: { class: 'form' } do |form| %>
  <div class="form-field">
    <%= form.label :forum_id %>
    <%= form.collection_select :forum_id, Forum.all, :id, :name %>
  </div>
  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title, autocomplete: 'off' %>
  </div>
  <% if @topic.new_record? %>
    <div class="form-field">
      <%= form.fields_for :first_post do |post_form| %>
        <%= post_form.label :body %>
        <%= render partial: 'posts/editor', locals: { form: post_form, name: :body } %>
      <% end %>
    </div>
  <% end %>
  <%= form.submit class: 'button button-contained button-primary' %>
<% end %>
