<% cache [I18n.locale, topic] do %>
  <a class="media media-link" href="<%= topic_path(topic) %>">
    <div class="mr-2">
      <%= avatar_tag topic.user %>
    </div>
    <div class="media-body">
      <div class="d-flex justify-content-between">
        <div class="flex-grow-1 text-truncate">
          <%= topic.title %>
        </div>
        <small class="ml-2 text-nowrap text-muted">
          <%= local_time_or_date topic.activated_at %>
        </small>
      </div>
      <div>
        <span class="badge badge-secondary">
          <%= topic.category.name %>
        </span>
        <small class="text-muted">
          created by <%= topic.user.name %> at <%= local_time_or_date topic.created_at %>
          ·
          <%= topic.posts.count %> posts
        </small>
      </div>
    </div>
  </a>
<% end %>
