<div class="mt-3 mb-3">
  <span class="badge badge-light mb-2"><%= @topic.forum.name %></span>
  <h1><%= @topic.title %></h1>
</div>

<% cache [I18n.locale, @topic, @topic.user, :content] do %>
  <div class="post">
    <div class="post-header">
      <div class="post-avatar">
        <%= avatar_tag @topic.user %>
      </div>
      <span><%= @topic.user.name %></span>
      <span><%= local_time_or_date @topic.created_at %></span>
      <% if @topic.edited_at %>
        <span>Edited at <%= local_time_or_date @topic.edited_at %></span>
      <% end %>
    </div>
    <div class="post-body">
      <%= sanitize markdown_render @topic.content %>
    </div>
    <div class="post-footer">
    </div>
  </div>
<% end %>

<div id="comments" class="list">
  <%= render partial: 'comments/comment', collection: @topic.comments.order(id: :asc).includes(:user), cached: -> comment { [I18n.locale, comment, comment.user] } %>
</div>

<% if Current.user %>
  <div class="post">
    <div class="post-header">
      <div class="post-avatar">
          <%= avatar_tag Current.user %>
      </div>
    </div>
    <div class="post-body">
      <%= render 'comments/form' %>
    </div>
  </div>
<% else %>
  <div class="post">
    <div class="post-body">
      <a href="<%= new_session_path(return_to: topic_path(@topic)) %>" class="btn btn-primary"><%= t '.sign_in_to_comment' %></a>
    </div>
  </div>
<% end %>
