<% content_for :toolbar_title do %>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= forum_path(@topic.forum) %>"><%= @topic.forum.name %></a>
    </li>
    <li class="breadcrumb-item active">
      <%= @topic.title %>
    </li>
  </ul>
<% end %>

<h1 class="topic-title"><%= @topic.title %></h1>

<div class="list">
  <div class="list-item">
    <div class="list-item-avatar">
      <%= avatar_tag @topic.user %>
    </div>
    <div class="list-item-content">
      <div class="post">
        <div class="post-header">
          <span class="post-header-name"><%= @topic.user.name %></span>
          <div class="float-right">
            <a href="<%= topic_path(@topic) %>" class="post-header-time text-small text-secondary"><%= local_time_ago @topic.created_at %></a>
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button-icon button-icon-small text-secondary" data-action="dropdown#open">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="<%= edit_topic_path(@topic) %>" class="dropdown-menu-item">
                  <i class="material-icons">edit</i> Edit
                </a>
                <a href="<%= trash_topic_path(@topic) %>" class="dropdown-menu-item" data-method="put" data-confirm="Are you sure you want to delete this topic?" data-remote="true">
                  <i class="material-icons">delete</i> Trash
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="post-body">
          <article class="typography">
            <%= sanitize markdown_render @topic.content %>
          </article>
          <% if @topic.edited_user %>
            <div class="text-small text-secondary">
              Edited by <%= @topic.edited_user.name %> at <%= local_time_ago @topic.edited_at %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="subheader">Comments</h3>

<div id="comments" class="list">
  <%= render @topic.comments %>
</div>

<div class="list">
  <div class="list-item">
    <div class="list-item-avatar">
      <% if Current.user %>
        <%= avatar_tag Current.user %>
      <% end %>
    </div>
    <div class="list-item-content">
      <% if Current.user %>
        <%= render 'comments/form' %>
      <% else %>
        <a href="/session/new" class="button button-contained button-primary">Sign in to Commnet</a>
      <% end %>
    </div>
  </div>
</div>
