<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="<%= board_path(@topic.board) %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title">
      Topic
    </div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <h1 class="topic-title"><%= @topic.title %></h1>

    <div class="list">
      <div class="list-item">
        <div class="list-item-avatar">
          <div class="letter-avatar">
            <%= @topic.user.name[0] %>
          </div>
        </div>
        <div class="list-item-content">
          <div class="list-item-content-primary">
            <span><%= @topic.user.name %></span>
            <span><%= l @topic.created_at, format: :long %></span>
          </div>
          <article class="typography">
            <%= sanitize markdown_render @topic.content %>
          </article>
        </div>
      </div>
    </div>

    <h3 class="subheader">Comments</h3>

    <div id="comments" class="list">
      <%= render @topic.comments %>
    </div>

    <div class="list">
      <div class="list-item">
        <div class="list-item-avatar">
          <img src="" alt="" style="background: #ccc;">
        </div>
        <div class="list-item-content">
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
</main>
