<% post = notification.record %>
<a href="<%= topic_path(post.topic, number: post.number) %>" class="list-item">
  <div class="list-item-avatar">
    <img src="<%= post.user.avatar.thumb.url %>" class="avatar">
  </div>
  <div class="list-item-content">
    <div class="list-item-content-primary">
      <%= post.user.name %> <%= t '.posted_on' %> <%= post.topic.title %>
    </div>
    <div class="list-item-content-secondary">
      <%= post.body %>
    </div>
  </div>
  <div class="list-item-meta">
    <small class="text-secondary">
      <%= local_time_or_date notification.created_at %>
    </small>
  </div>
</a>
