<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="<%= back_path %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t 'common.notifications' %></div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <div id="notifications" class="list" data-controller="infinite-page" data-infinite-page="<%= params[:page] || 1 %>" data-infinite-page-url="<%= notifications_path %>">
      <%= render partial: 'notification', collection: @notifications, cached: -> notification { [I18n.locale, notification] } %>
    </div>
    <div class="loading-message">
      <i class="material-icons animated rotate">refresh</i>
    </div>
  </div>
</main>
