<%= form_with model: @user, class: 'form', id: 'sign-up-form' do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "block mb-2" %>
    <%= form.text_field :name, require: true, class: "input #{"input-invalid" if @user.errors[:name].any?}" %>
  </div>

  <div class="mb-4">
    <%= form.label :username, class: "block mb-2" %>
    <%= form.text_field :username, data: { controller: "validator", validator_url_value: "users/validate/username" }, class: "input #{"input-invalid" if @user.errors[:username].any?}" %>
  </div>

  <div class="mb-4">
    <%= form.label :email, class: "block mb-2" %>
    <%= form.text_field :email, data: { controller: "validator", validator_url_value: "users/validate/email" }, class: "input #{"input-invalid" if @user.errors[:email].any?}" %>
  </div>
  <div class="mb-4">
    <%= form.label :password, class: "block mb-2" %>
    <%= form.password_field :password, require: true, class: "input #{"input-invalid" if @user.errors[:password].any?}" %>
  </div>

  <button type="submit" class="btn-filled block w-full text-center">
    <%= t('common.sign_up') %>
  </button>
<% end %>
