<%= form_with model: @user, class: 'form', id: 'sign-up-form' do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, placeholder: "Name", require: true, class: "input #{"input-invalid" if @user.errors[:name].any?}" %>
  </div>

  <div class="mb-4">
    <%= form.label :username, class: "label" %>
    <div class="flex">
      <div class="p-2 bg-gray-300 rounded-l">
        @
      </div>
      <%= form.text_field :username, placeholder: "username", data: { controller: "validator", validator_url_value: "users/validate/username" }, class: "input #{"input-invalid" if @user.errors[:username].any?} rounded-l-none" %>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, placeholder: "name@example.com", data: { controller: "validator", validator_url_value: "users/validate/email" }, class: "input #{"input-invalid" if @user.errors[:email].any?}" %>
  </div>
  <div class="mb-4">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, require: true, class: "input #{"input-invalid" if @user.errors[:password].any?}" %>
  </div>

  <button type="submit" class="btn-filled block w-full text-center">
    <%= t('common.sign_up') %>
  </button>
<% end %>
