<%= form_with model: @user, class: 'form', id: 'sign-up-form', data: { controller: 'form-validation' } do |form| %>
  <div class="form-field <%= 'invalid' if @user.errors[:name].any? %>">
    <%= form.label :name %>
    <%= form.text_field :name, 'data-validate-url': '/users/validate/name' %>
    <% if @user.errors[:name].any? %>
      <div class="validate-message">
        <%= @user.errors[:name].first %>
      </div>
    <% end %>
  </div>
  <div class="form-field <%= 'invalid' if @user.errors[:username].any? %>">
    <%= form.label :username %>
    <%= form.text_field :username, 'data-validate-url': '/users/validate/username' %>
    <% if @user.errors[:username].any? %>
      <div class="validate-message">
        <%= @user.errors[:username].first %>
      </div>
    <% end %>
  </div>
  <div class="form-field <%= 'invalid' if @user.errors[:email].any? %>">
    <%= form.label :email %>
    <%= form.text_field :email, 'data-validate-url': '/users/validate/email' %>
    <% if @user.errors[:email].any? %>
      <div class="validate-message">
        <%= @user.errors[:email].first %>
      </div>
    <% end %>
  </div>
  <div class="form-field <%= 'invalid' if @user.errors[:password].any? %>">
    <%= form.label :password %>
    <%= form.password_field :password, 'data-validate-url': '/users/validate/name' %>
    <% if @user.errors[:password].any? %>
      <div class="validate-message">
        <%= @user.errors[:password].first %>
      </div>
    <% end %>
  </div>
  <%= form.submit t('common.sign_up'), class: 'button button-contained button-primary button-full-width' %>
<% end %>
