<div class="border p-5 shadow rounded-xl bg-white">
  <h1 class="text-2xl mt-3 mb-5">
    <%= t '.sign_up' %>
  </h1>

  <%= render 'sessions/auth_providers' %>

  <% if AUTH_PROVIDERS.include?('password') %>
    <%= render 'form' %>
  <% end %>

  <div class="mt-4">
    <a href="<%= sign_in_path %>" class="btn-text block w-full text-center">
      <%= t '.sign_in_existing_account' %>
    </a>
  </div>
</div>
