<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="/" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t 'common.sign_up' %></div>
    <div class="toolbar-action">
      <a href="/session/new" class="button button-text"><%= t 'common.sign_in' %></a>
    </div>
  </div>
</div>

<main class="main with-appbar">
  <div class="container">
    <div class="session">
      <h3 class="text-align-center"><%= t 'common.sign_up' %></h3>
      <%= render 'sessions/auth_providers' %>
      <% if AUTH_PROVIDERS.include?('password') %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</main>
