<div class="card">
  <div class="card-header border-bottom">
    <div class="toolbar">
      <div class="toolbar-title">
        <%= t '.topics' %>
      </div>
      <div class="toolbar-space">
      </div>
      <div class="toolbar-action">
        <a href="<%= new_topic_path %>" class="button button-contained button-primary"><%= t '.new_topic' %></a>
      </div>
    </div>
  </div>

  <%= render 'topics/topic_list' %>

  <% if @topics.empty? %>
    <div class="text-align-center p-4">
      <%= t '.no_content' %>
    </div>
  <% end %>
</div>
