<div class="appbar appbar-primary appbar-fixed">
  <div class="toolbar">
    <div class="toolbar-action">
      <a href="<%= back_path %>" class="button button-icon"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="toolbar-title"><%= t 'common.settings' %></div>
  </div>
  <div class="tab">
    <a href="/settings/account" class="tab-item <%= 'active' if controller_name == 'accounts' %>"><%= t 'common.account' %></a>
    <% if AUTH_PROVIDERS.include?('password') %>
      <a href="/settings/password" class="tab-item <%= 'active' if controller_name == 'passwords' %>"><%= t 'common.password' %></a>
    <% end %>
  </div>
</div>
