<div class="card">
  <div class="card-header">
    <div class="toolbar">
      <div class="toolbar-action">
        <a href="<%= admin_posts_path %>" class="button button-icon">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="toolbar-title">
        Post #<%= @post.id %>
      </div>
      <div class="toolbar-action">
        <a href="<%= edit_admin_post_path(@post) %>" class="button button-icon">
          <i class="material-icons">edit</i>
        </a>
      </div>
    </div>
  </div>
  <table class="table">
    <tbody>
      <% @post.attributes.each do |attribute, value| %>
        <tr>
          <th><%= attribute %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
