<% subscription = topic.subscriptions.find_by(user: Current.user) %>
<div id="subscription-button" class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    <%= t "subscription_status.#{subscription&.status || 'not_subscribed' }" %>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a href="<%= topic_subscription_path(topic, status: 'subscribed') %>" data-method="patch" data-remote="true" class="dropdown-item <%= 'active' if subscription&.subscribed? %>">
      <div>
        <%= t "subscription_status.subscribed" %>
      </div>
      <small class="text-muted">You will recevie notifications when new post created.</small>
    </a>
    <a href="<%= topic_subscription_path(topic) %>" data-method="delete" data-remote="true" class="dropdown-item <%= 'active' if subscription.nil? %>">
      <div>
        <%= t "subscription_status.not_subscribed" %>
      </div>
      <small class="text-muted">You will recevie notifications when somebody mention you.</small>
    </a>
    <a href="<%= topic_subscription_path(topic, status: 'ignored') %>" data-method="patch" data-remote="true" class="dropdown-item <%= 'active' if subscription&.ignored? %>">
      <div>
        <%= t "subscription_status.ignored" %>
      </div>
      <small class="text-muted">You will not recevie notifications.</small>
    </a>
  </div>
</div>
