<%= form_with model: Current.site, url: admin_settings_path, id: 'settings-form', class: 'form' do |form| %>
  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="form-field">
    <%= form.label :logo %>
    <%= image_tag Current.site.logo.thumb.url, class: 'site-settings-logo' %>
    <label for="site_logo" class="button button-contained">
      <%= t '.select_image' %>
    </label>
    <%= form.file_field :logo, class: 'display-none' %>
  </div>
  <div class="form-field">
    <%= form.label :icon %>
    <%= image_tag Current.site.icon.thumb.url, class: 'site-settings-icon' %>
    <label for="site_icon" class="button button-contained">
      <%= t '.select_image' %>
    </label>
    <%= form.file_field :icon, class: 'display-none' %>
  </div>
  <%= form.submit t('.update_settings'), class: 'button button-contained button-primary' %>
<% end %>
