<div class="row mt-3">
  <div class="col-md-3">
    <%= render 'admin/nav' %>
  </div>
  <div class="col-md-9">
    <div class="mb-2">
      <a href="<%= new_admin_category_path %>" class="btn btn-primary">New Category</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th><%= t '.id' %></th>
          <th><%= t '.parent' %></th>
          <th><%= t '.name' %></th>
          <th><%= t '.slug' %></th>
          <th class="text-align-right"><%= t '.action' %></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.parent&.name %></td>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td class="text-align-right">
              <a href="<%= edit_admin_category_url(category) %>" class="btn btn-light btn-sm"><i class="fa fa-edit"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
