<%
  id = if !post.new_record?
    "post-#{post.id}-edit-form"
  elsif post.reply_to_post
    "post-#{post.reply_to_post_id}-reply-form"
  else
    "post-new-form"
  end
%>

<div id="<%= id %>" class="post" data-target="post.formContainer">
  <div class="post-container">
    <div class="post-avatar">
      <% if Current.user %>
      <%= avatar_tag Current.user %>
      <% end %>
    </div>
    <div class="post-content">
      <%= form_with model: post do |form| %>
        <%= form.hidden_field :topic_id %>
        <%= form.hidden_field :reply_to_post_id %>
        <div class="form-field">
          <%= render partial: 'posts/editor', locals: { form: form, name: :body } %>
        </div>
        <%= form.submit class: 'button button-contained button-primary mr-2' %>
        <% if !post.new_record? %>
          <button type="button" class="button button-text" data-action="post#cancelEdit">
            Cancel
          </button>
        <% elsif post.reply_to_post %>
          <button type="button" class="button button-text" data-action="post#cancelReply">
            Cancel
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
