<% cache [I18n.locale, post] do %>
  <div class="post" id="post-<%= post.id %>" data-target="topic.post">
    <div class="post-header">
      <div class="post-avatar">
        <%= avatar_tag post.user %>
      </div>
      <span><%= post.user.name %></span>
      <span class="text-muted"><%= local_time_or_date post.created_at %></span>
      <% if post.edited_at %>
        <span class="text-muted">Edited at <%= local_time_or_date post.edited_at %></span>
      <% end %>
    </div>
    <div class="post-body">
      <%= sanitize markdown_render post.body %>
    </div>
    <div class="post-footer">
      <button type="button" class="btn btn-light btn-sm"><i class="fa fa-reply"></i></button>
      <button type="button" class="btn btn-light btn-sm"><i class="far fa-thumbs-up"></i></button>
      <button type="button" class="btn btn-light btn-sm"><i class="far fa-thumbs-down"></i></button>
      <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-light btn-sm" data-toggle="dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu">
          <a href="<%= edit_post_path(post) %>" class="dropdown-item" data-remote="true">Edit</a>
          <a href="<%= trash_post_path(post) %>" class="dropdown-item" data-remote="true" data-method="put" data-confirm="Are you sure?">Trash</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
