<% cache [I18n.locale, post, post.user] do %>
  <div
    class="post"
    id="post-<%= post.id %>"
    data-controller="post"
    data-target="topic.post"
    data-number="<%= post.number %>"
    data-post-id="<%= post.id %>"
    data-post-username="<%= post.user.username %>">
    <% if post.reply_to_post %>
      <div class="post-context">
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button-text" data-action="dropdown#open">
            <i class="material-icons mr-2">reply</i> reply to <%= post.reply_to_post.user.name %>
          </button>
          <div class="dropdown-menu dropdown-menu-large dropdown-menu-top">
            <a href="<%= topic_path(post.reply_to_post.topic, number: post.reply_to_post.number) %>" class="dropdown-menu-item">
              <%= image_tag avatar_url(post.reply_to_post.user), class: 'avatar avatar-mini mr-2' %>
              <div>
                <b><%= post.reply_to_post.user.name %></b>
                -
                <%= markdown_summary post.reply_to_post.body %>
              </div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
    <div class="post-container hide-on-editing">
      <div class="post-avatar">
        <a href="<%= profile_path(username: post.user.username) %>">
          <%= avatar_tag post.user %>
        </a>
      </div>
      <div class="post-content">
        <div class="post-header">
          <div class="post-info">
            <a class="post-username" href="<%= profile_path(username: post.user.username) %>">
              <b><%= post.user.name %></b>
              <span>@<%= post.user.username %></span>
            </a>
            ·
            <a href="<%= topic_path(post.topic, number: (post.number > 1 ? post.number : nil)) %>" class="text-secondary">
              <%= local_time_or_date post.created_at %>
            </a>
            <% if post.edited_at %>
              ·
              Edited at <%= local_time_or_date post.edited_at %>
            <% end %>
          </div>
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button-icon" data-action="dropdown#open">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="<%= edit_post_path(post) %>" class="dropdown-menu-item hide-on-replying" data-remote="true">Edit</a>
              <a href="<%= trash_post_path(post) %>" class="dropdown-menu-item" data-remote="true" data-method="put" data-confirm="Are you sure?">Trash</a>
            </div>
          </div>
        </div>
        <div class="post-body">
          <%= markdown_render post.body %>
        </div>
        <div class="post-footer hide-on-replying">
          <a href="<%= reply_post_path(post) %>" class="button button-icon mr-2 button-reply" data-remote="true" data-controller="visible-to-user">
            <i class="material-icons">reply</i>
          </a>
          <button type="button" class="button button-icon mr-2">
            <i class="material-icons">thumb_up</i>
          </button>
          <button type="button" class="button button-icon mr-2">
            <i class="material-icons">thumb_down</i>
          </button>

          <% if post.replied_posts.any? %>
            <div class="dropdown ml-auto" data-controller="dropdown">
              <button type="button" class="button button-text" data-action="dropdown#open">
                <%= post.replied_posts.count %> replies <i class="material-icons ml-2">expand_more</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-large">
                <% post.replied_posts.each do |replied_post| %>
                  <a href="<%= topic_path(replied_post.topic, number: replied_post.number) %>" class="dropdown-menu-item">
                    <%= image_tag avatar_url(replied_post.user), class: 'avatar avatar-mini mr-2' %>
                    <div>
                      <b><%= replied_post.user.name %></b>
                      -
                      <%= markdown_summary replied_post.body %>
                    </div>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
