<% content_for :toolbar_title do %>
  <%= t 'common.forums' %>
<% end %>

<a href="<%= new_admin_forum_path %>" class="button button-floating button-primary right-bottom"><i class="material-icons">add</i></a>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.id' %></th>
      <th><%= t '.name' %></th>
      <th><%= t '.slug' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.topics' %></th>
      <th class="text-align-right"><%= t '.action' %></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><%= forum.id %></td>
        <td><%= forum.name %></td>
        <td><%= forum.slug %></td>
        <td><%= truncate forum.description %></td>
        <td><%= forum.topics_count %></td>
        <td class="text-align-right">
          <a href="<%= edit_admin_forum_url(forum) %>"><i class="material-icons vertical-top">edit</i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
