<div class="card">
  <div class="card-header">
    <div class="toolbar">
      <div class="toolbar-title">
        Users
      </div>
      <div class="toolbar-action">
        <a href="<%= new_admin_user_path %>" class="button button-icon">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= local_time_or_date user.created_at %></td>
          <td class="table-action text-align-right">
            <a href="<%= admin_user_url(user) %>" class="button button-icon">
              <i class="material-icons">chevron_right</i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer border-top">
    <%= render_paginator @users %>
  </div>
</div>
