<% content_for :body do %>
  <div class="appbar appbar-white appbar-fixed">
    <div class="toolbar">
      <div class="toolbar-action">
        <button type="button" class="button button-icon" data-toggle="#drawer">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="toolbar-brand">
        <a href="<%= admin_root_path %>">
          <img src="<%= Current.site.logo.thumb.url %>" class="logo">
          <b class="ml-1 text-secondary">Admin</b>
        </a>
      </div>
      <div class="toolbar-space">
      </div>
      <div class="toolbar-action">
        <a href="<%= root_path %>" class="button button-icon">
          <i class="material-icons">exit_to_app</i>
        </a>
      </div>
    </div>
  </div>

  <nav id="drawer" class="drawer drawer-permanent" data-controller="drawer">
    <div class="drawer-content">
      <div class="drawer-body">
        <div class="drawer-menu">
          <a href="<%= admin_root_path %>" class="drawer-item <%= 'active' if controller_name == 'dashboard' %>">
            <i class="material-icons">dashboard</i> <%= t '.dashboard' %>
          </a>
          <a href="<%= admin_forums_path %>" class="drawer-item <%= 'active' if controller_name == 'forums' %>">
            <i class="material-icons">forum</i> <%= t '.forums' %>
          </a>
          <a href="<%= admin_topics_path %>" class="drawer-item">
            <i class="material-icons">chat_bubble</i> <%= t '.topics' %>
          </a>
          <a href="<%= admin_posts_path %>" class="drawer-item">
            <i class="material-icons">message</i> <%= t '.posts' %>
          </a>
          <a href="<%= admin_users_path %>" class="drawer-item">
            <i class="material-icons">person</i> <%= t '.users' %>
          </a>
          <a href="<%= admin_attachments_path %>" class="drawer-item">
            <i class="material-icons">attachment</i> <%= t '.attachments' %>
          </a>
          <a href="<%= admin_settings_path %>" class="drawer-item">
            <i class="material-icons">settings</i> <%= t '.settings' %>
          </a>
        </div>
      </div>
    </div>
    <div class="drawer-background" data-action="click->drawer#close">
    </div>
  </nav>

  <main class="main with-appbar">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
