<% content_for :body do %>
  <div class="appbar appbar-white appbar-fixed">
    <div class="toolbar">
      <div class="toolbar-action">
        <button type="button" class="button button-icon" data-toggle="#drawer">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="toolbar-brand">
        <a href="/">
          <img src="<%= asset_pack_path 'media/images/logo.png' %>" class="logo">
          <b class="ml-2">Campo</b>
        </a>
      </div>
      <div class="toolbar-space">

      </div>
      <div class="toolbar-action">
        <a href="#" class="button button-icon">
          <i class="material-icons">search</i>
        </a>
      </div>
      <% if Current.user %>
        <div class="toolbar-action">
          <a href="<%= notifications_path %>" class="button button-icon <%= 'button-notification-unread' if Current.user.notifications.unread.any? %>">
            <i class="material-icons">notifications</i>
          </a>
        </div>
        <div class="toolbar-action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button-avatar" data-action="dropdown#open">
              <%= avatar_tag Current.user %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="<%= profile_path(username: Current.user.username) %>" class="dropdown-menu-item">
                <i class="material-icons">person</i> Profile
              </a>
              <a href="<%= settings_account_path %>" class="dropdown-menu-item">
                <i class="material-icons">settings</i> Settings
              </a>
              <div class="divider">
              </div>
              <a href="<%= session_path %>" class="dropdown-menu-item" data-remote="true" data-method="delete" data-confirm="Are you sure?">
                <i class="material-icons">exit_to_app</i> Sign out
              </a>
            </div>
          </div>
        </div>
      <% else %>
        <div class="toolbar-action">
          <a href="<%= new_session_path %>" class="button button-text">
            Sign in
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <nav id="drawer" class="drawer" data-controller="drawer">
    <div class="drawer-content">
      <div class="drawer-body">
        <div class="drawer-menu">
          <a href="<%= root_path %>" class="drawer-item <%= 'active' if controller_name == 'home' %>">
            <i class="material-icons">home</i> Home
          </a>
          <a href="#" class="drawer-item">
            <i class="material-icons">star</i> Starred
          </a>
        </div>
        <div class="subtitle">
          Forums
        </div>
        <div class="drawer-menu">
          <% Forum.order(topics_count: :desc).limit(5).each do |forum| %>
            <a href="<%= forum_path(id: forum.slug) %>" class="drawer-item <%= 'active' if @forum == forum %>">
              <i class="material-icons">forum</i> <%= forum.name %>
            </a>
          <% end %>
          <a href="<%= forums_path %>" class="drawer-item">
            <i class="material-icons">more_vert</i> More
          </a>
        </div>
      </div>
    </div>
    <div class="drawer-background" data-action="click->drawer#close">
    </div>
  </nav>

  <main class="main with-appbar">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
