<% content_for :body do %>
  <div class="appbar appbar-primary appbar-fixed">
    <div class="toolbar">
      <div class="toolbar-action">
        <button type="button" class="button button-icon" data-toggle="#side-nav"><i class="material-icons">menu</i></button>
      </div>
      <div class="toolbar-title">
        <%= content_for(:toolbar_title) %>
      </div>
      <% if Current.user %>
        <div class="toolbar-action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button-avatar" data-action="dropdown#open">
              <%= avatar_tag Current.user %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/settings/account" class="dropdown-item">Settings</a>
              <hr class="divider">
              <a href="/session" class="dropdown-item" data-method="delete" data-remote="true">Sign out</a>
            </div>
          </div>
        </div>
      <% else %>
        <div class="toolbar-action">
          <a href="/users/new" class="button button-flat">Sign up</a>
        </div>
        <div class="toolbar-action">
          <a href="/session/new" class="button button-flat">Sign in</a>
        </div>
      <% end %>
    </div>
  </div>

  <nav id="side-nav" class="side-nav <%= 'side-nav-permanent' unless @disable_side_nav_permanent %>" data-controller="side-nav">
    <div class="side-nav-content">
      <div class="list">
        <a href="/" class="list-item">
          <div class="list-item-icon">
            <i class="material-icons">home</i>
          </div>
          <div class="list-item-content align-center">Home</div>
        </a>
      </div>
      <hr class="divider">
      <h3 class="subheader">Forums</h3>
      <div class="list">
        <% Forum.order(topics_count: :desc).each do |forum| %>
          <a href="<%= forum_path(forum) %>" class="list-item">
            <div class="list-item-icon">
              <i class="material-icons">forum</i>
            </div>
            <div class="list-item-content align-center"><%= forum.name %></div>
          </a>
        <% end %>
        <a href="/forums" class="list-item">
          <div class="list-item-icon">
            <i class="material-icons">more_horiz</i>
          </div>
          <div class="list-item-content align-center">All forums</div>
        </a>
      </div>
    </div>
    <div class="side-nav-background" data-action="click->side-nav#close">
    </div>
  </nav>

  <main class="main with-appbar">
    <div class="container">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/base' %>
