<!DOCTYPE html>
<html>
  <head>
    <title>Campo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="toolbar">
      <div class="toolbar-title">
        Toolbar
      </div>
    </div>
    <nav class="side-nav">
      <div class="list">
        <a class="list-item active" href="#">active</a>
        <a class="list-item" href="#">item</a>
      </div>
    </nav>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
