<!DOCTYPE html>
<html>
  <head>
    <title>Campo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="side-nav">
      <div class="side-nav-header">
        <div class="brand">
          Campo
        </div>
      </div>
      <div class="side-nav-body">
        <div class="list">
          <% 30.times do %>
          <a class="list-item" href="#">item</a>
          <% end %>
        </div>
      </div>
      <div class="side-nav-footer">
        Footer
      </div>
    </nav>
    <main>
      <div class="toolbar">
        <div class="toolbar-title">
          Toolbar
        </div>
      </div>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
