<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="locale" content="<%= I18n.locale %>">

    <title><%= "#{@page_title} - " if @page_title %><%= Current.site.name %></title>
    <meta name="description" content="<%= Current.site.description %>">
    <link rel="icon" href="<%= site_icon_path Current.site %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <% if Current.user %>
      <meta name="current-user-id" content="<%= Current.user.id %>">
    <% end %>

    <%= yield(:head) %>
  </head>

  <body class="bg-gray-100">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
