<!DOCTYPE html>
<html>
  <head>
    <title>Campo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="locale" content="<%= I18n.locale %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Current.user %>
      <meta name="current-user-id" content="<%= Current.user.id %>">
      <meta name="current-user-admin" content="<%= Current.user.admin? %>">
    <% end %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>

    <% %w(notice alert).each do |type| %>
      <% if flash[type] %>
        <div class="snackbar animated fadeInUp" data-controller="snackbar" data-hide-on="5000">
          <%= flash[type] %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
